**Exercise 2.2 (optional):** Write code that classifies a given amount of money (which you store in a variable `amount`), specified in cents, as greater monetary units. Your code lists the monetary equivalent in dollars (100 ct), quarters (25 ct), dimes (10 ct), nickels (5 ct), and pennies (1 ct). Your program should report the maximum number of dollars that fit in the amount, then the maximum number of quarters that fit in the remainder after you subtract the dollars, then the maximum number of dimes that fit in the remainder after you subtract the dollars and quarters, and so on for nickels and pennies. The result is that you express the amount as the minimum number of coins needed.  

**Can you do it again? Would you change anything from the last time you had to do this?**

In [2]:
# Your Code Here

def cashier(amount):
   
    #initialising all money units to zero
    dollars, quarters, dimes, nickels, pennies = 0, 0, 0, 0, 0
    
    # calculate dollar equivalent
    dollars = amount // 100
    
    #calcuate remaining amount
    amount = amount % 100
    
    #calculate quarters equivalent from remaining amount
    quarters = amount // 25
    
    #calculate remaining amount
    amount = amount % 25
    
    #calculate dime equivalent from remaining amount
    dimes = amount // 10
    
    #calculate remaining amount
    amount = amount % 10
    
    #calculate nickel equivalent from remaining amount
    nickels = amount // 5
    
    #remaining amount is equivalent to pennies
    pennies = amount % 5
    
    return {'dollars': dollars,
            'quarters': quarters, 
            'dimes': dimes, 
            'nickels': nickels, 
            'pennies': pennies}

In [3]:
cashier(333)

{'dollars': 3, 'quarters': 1, 'dimes': 0, 'nickels': 1, 'pennies': 3}

**Exercise (optional)**: The factorial of a positive integer is that integer, multiplied by all positive integers that are lower (excluding zero). You write the factorial as the number with an exclamation mark after it. E.g., the factorial of 5 is `5! = 5 * 4 * 3 * 2 * 1 = 120`. Write a function that calculates the factorial of its (integer) parameter. Test your function for different parameter values, but do not use very large numbers as factorials grow exponentially. Hint: to do this with a `while` loop, you need at least one more variable.

In [9]:
# Factorial
def factorial(number):                                

    #Your Code Here
    # factorial method using recursion

    # define the base case
    if (number == 1):
        return 1
    else:
        
        # define the recursive call
        return number * factorial(number - 1)

print(factorial(5))

120

**Exercise 5.1 (optional):** Write a function that prints a multiplication table for digits 1 to 10. A multiplication table for the numbers 1 to `num = 3` looks as follows:

`. |  1  2  3`<br>
`------------`<br>
`1 |  1  2  3`<br>
`2 |  2  4  6`<br>
`3 |  3  6  9`

So the labels on the rows are multiplied by the labels on the columns, and the result is shown in the cell that is on that row/column combination.

In [10]:
# Print multiplication table
def print_multiplication_table(n):
    

    for i in range(3):
        print(i)
    #Your Code Here
        
print_multiplication_table(3)

0
1
2

In [72]:
print(f'.  |  ', end='')
for i in range(20):
    if len(str(i+1)) != 1:
        print(f'{i+1} ', end=' ')
    else:
        print(f'{i+1}  ', end=' ')
print()
print('-'*4*20)

for i in range(20):
    if len(str(i+1)) != 1:
        print(f'{i+1} |', end=' ')
    else:
        print(f'{i+1}  |', end=' ')
    #print()
    for j in range(20):
        result = (i+1)*(j+1)
        result = str(result)
        if len(result) != 1:
            print(f' {result}', end=' ')
        else:
            print(f'  {result}', end=' ')
    print()

.  |  1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18  19  20
--------------------------------------------------------------------------------
1  |   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20
2  |   2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40
3  |   3   6   9  12  15  18  21  24  27  30  33  36  39  42  45  48  51  54  57  60
4  |   4   8  12  16  20  24  28  32  36  40  44  48  52  56  60  64  68  72  76  80
5  |   5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90  95  100
6  |   6  12  18  24  30  36  42  48  54  60  66  72  78  84  90  96  102  108  114  120
7  |   7  14  21  28  35  42  49  56  63  70  77  84  91  98  105  112  119  126  133  140
8  |   8  16  24  32  40  48  56  64  72  80  88  96  104  112  120  128  136  144  152  160
9  |   9  18  27  36  45  54  63  72  81  90  99  108  117  126  135  144  153  162  171  180
10 |  10  20  30  40  50  60  70  80  90  100  110  120  130  140  150  160  170  180  190  200
11 |  11  22  33  44  55  66  77  88  99  110  121  132  143  154  165  176  187  198  209  220
12 |  12  24  36  48  60  72  84  96  108  120  132  144  156  168  180  192  204  216  228  240
13 |  13  26  39  52  65  78  91  104  117  130  143  156  169  182  195  208  221  234  247  260
14 |  14  28  42  56  70  84  98  112  126  140  154  168  182  196  210  224  238  252  266  280
15 |  15  30  45  60  75  90  105  120  135  150  165  180  195  210  225  240  255  270  285  300
16 |  16  32  48  64  80  96  112  128  144  160  176  192  208  224  240  256  272  288  304  320
17 |  17  34  51  68  85  102  119  136  153  170  187  204  221  238  255  272  289  306  323  340
18 |  18  36  54  72  90  108  126  144  162  180  198  216  234  252  270  288  306  324  342  360
19 |  19  38  57  76  95  114  133  152  171  190  209  228  247  266  285  304  323  342  361  380
20 |  20  40  60  80  100  120  140  160  180  200  220  240  260  280  300  320  340  360  380  400

In [1]:
from itertools import product
for a, b in product(range(1, 20), repeat=2):
    print(a * b, end="\t")
    if b == 20:
        print()

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	3	6	9	12	15	18	21	24	27	30	33	36	39	42	45	48	51	54	57	4	8	12	16	20	24	28	32	36	40	44	48	52	56	60	64	68	72	76	5	10	15	20	25	30	35	40	45	50	55	60	65	70	75	80	85	90	95	6	12	18	24	30	36	42	48	54	60	66	72	78	84	90	96	102	108	114	7	14	21	28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	8	16	24	32	40	48	56	64	72	80	88	96	104	112	120	128	136	144	152	9	18	27	36	45	54	63	72	81	90	99	108	117	126	135	144	153	162	171	10	20	30	40	50	60	70	80	90	100	110	120	130	140	150	160	170	180	190	11	22	33	44	55	66	77	88	99	110	121	132	143	154	165	176	187	198	209	12	24	36	48	60	72	84	96	108	120	132	144	156	168	180	192	204	216	228	13	26	39	52	65	78	91	104	117	130	143	156	169	182	195	208	221	234	247	14	28	42	56	70	84	98	112	126	140	154	168	182	196	210	224	238	252	266	15	30	45	60	75	90	105	120	135	150	165	180	195	210	225	240	255	270	285	16	32	48	64	80	96	112	128	144	160	176	192	208	224	240	256	272	288	304	17	34	51	68	85	102	119	136	153	170	187	204	221	238	255	272	289	306	323	18	36	54	72	90	108	126	144	162	180	198	216	234	252	270	288	306	324	342	19	38	57	76	95	114	133	152	171	190	209	228	247	266	285	304	323	342	361

In [3]:
list(product(range(1,5), repeat=2))

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

**Exercise 5.2 (optional):** If you did the previous exercise with a `while` loop, then do it again with a `for` loop. If you did it with a `for` loop, then do it again with a `while` loop. If you did not use a loop at all, you should be ashamed of yourself.

In [ ]:
# Print multiplication table
def print_multiplication_table(n):
    
    #Your Code Here
    


print_multiplication_table(5)

**Exercise 6.5 (optional):** Typical autocorrect functions are the following: 
1. if a word starts with two capitals, followed by a lower-case letter, the second capital is made lower case; 
2. if a sentence contains a word that is immediately followed by the same word, the second occurrence is removed; 
3. if a sentence starts with a lower-case letter, that letter is turned into a capital; 
4. if a word consists entirely of capitals, except for the first letter which is lower case, then the case of the letters in the word is reversed; and 
5. if the sentence contains the name of a day (in English) which does not start with a capital, the first letter is turned into a capital. 

Write a program that takes a sentence and makes these auto-corrections.

In [2]:
# Autocorrect.
sentence = "as it turned out our chance meeting with REverend aRTHUR BElling was \
was to change our whole way of life, and every sunday we'd hurry along to St lOONY up the Cream BUn and Jam."

In [ ]:
def autocorrect(sentence):

### Exercise 11.3 (Optional)
In this directory you find a file `blakepoems.txt`. Write a program that processes the contents of this file, line by line. It creates an output file in the current working directory called `blkpms.txt`, which has the same contents as `blakepoems.txt`, except that all the vowels are removed (case-insensitively). At the end, display how many characters you read, and how many characters you wrote. If you want to check the contents of `blkpms.txt`, you can either open it in a text editor, or display the first 10 lines or so at the end of your program.

In [ ]:
## Your Code Here

In [2]:
from itertools import product

In [1]:
print('la' * 7)

lalalalalalala

In [4]:
word = input()
n = int(input())
print(word * n)

kakakakaka

In [8]:
# Save the input in this variable
ticket = '090234'

# Add up the digits for each half
half1 = ticket[0] + ticket[1] + ticket[2]
half2 = ticket[-1] + ticket[-2] + ticket[-3]

# Thanks to you, this code will work
if half1 == half2:
    print("Lucky")
else:
    print("Ordinary")

Ordinary

In [12]:
cells = 'OXO__X_OX'
print('-' * 9)
print('|', ' '.join(cells[:3]), '|')
print('|', ' '.join(cells[3:6]), '|')
print('|', ' '.join(cells[6:9]), '|')
print('-' * 9)

---------
| O X O |
| _ _ X |
| _ O X |
---------

In [13]:
print(((3 + 5) // 2 * 2 ** 3) % 7)

4

In [14]:
10 + 11 + 11

32

In [22]:
import math
math.ceil(20/2)

10

In [23]:
n = 2.777
print(str(float(int(n))))

2.0

In [27]:
print(str(float(int(2.777))))

2.0

In [33]:
income = 14378
percent = 0
if income < 15527:
    percent = 0
elif 15528 < income < 42707:
    percent = 15
elif 42708 < income < 132406:
    percent = 25
else:
    percent = 28
    
calculated_tax = round(income * percent / 100)
    
print(f'The tax for {income} is {percent}%. That is {calculated_tax} dollars!')

The tax for 14378 is 0%. That is 0 dollars!

In [41]:
True and True and False or True

True

In [46]:
import numpy as np

In [47]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])