### ‚ùì Missing values

1. What is the missing datatype used in pandas?
2. How to replace all occurences of the value 9999 to missing in pandas?
3. How to get the absolute number of missings for each variable in pandas?
4. How to get the percentage of missings for each variable in pandas?
5. How to drop rows with missing values?
6. How to drop variables with missing values?
7. What is the univariate imputation method in sklearn?
8. What is the multivariate imputation method in sklearn?
9. What is the best univariate imputation method to categorical variables? (Explain why)
10. What is the best univariate imputation method to numerical variables? (Explain why)

### Answers

1. NaN
2. use the function replace()
3. use the function isna().sum()
4. use the function (isna().sum() / len(df)) * 100
5. use the function dropna(axis=0)
6. use the function dropna(axis=1)
7. SimpleImputer()
8. IterativeImputer(), KNNImputer()
9. most_frequent
10. mean/median

### üîé Outliers

1. What is an outlier?
2. What is a simple method to detect and deal with outliers of a numerical variable?
3. What is novelty detection?
4. Name 4 advanced methods of outlier detection in sklearn.

### Answers

1. An outlier is an observation that is far from the others. They are rare values
2. Using a histogram, a boxplot to show the distribution
3. Novelty detection is the identification of new or
unknown data that a machine learning system is
not aware of during training. It try
to identify outliers that differ from the distribution of
ordinary data.
4. Robust covariance, One Class SVM, Isolation Forest, Local Outlier Factor

### üñã Typos

1. What is a typo?
2. What is a good method of automatically detect typos?

### Answers
1. Errors introduced during data entry
2. Use fuzzywuzzy

## Practical Case

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('Building_Permits.csv')

In [3]:
df.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

df.shape

In [22]:
df.isna().sum()

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

In [10]:
df.shape

(198900, 43)

In [9]:
df[df['Zipcode'].isna()]

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
452,M866367,8,otc alterations permit,12/13/2017,0552,017,2550,NaN,Gough,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490471235302
464,M845627,8,otc alterations permit,10/18/2017,5286A,021,2241,NaN,Jerrold,Av,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490955510104
577,M364427,8,otc alterations permit,01/02/2013,0779,028,1235,NaN,Mcallister,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129220681682
731,201301047237,8,otc alterations permit,01/04/2013,6515,017,1387,NaN,Valencia,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1292365379064
864,201301077331,8,otc alterations permit,01/07/2013,3706,095,55,NaN,04th,St,...,1.0,constr type 1,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,1292500249105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198895,M862628,8,otc alterations permit,12/05/2017,0113,017A,1228,NaN,Montgomery,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489337276729
198896,201712055595,8,otc alterations permit,12/05/2017,0271,014,580,NaN,Bush,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1489462354993
198897,M863507,8,otc alterations permit,12/06/2017,4318,019,1568,NaN,Indiana,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489539379952
198898,M863747,8,otc alterations permit,12/06/2017,0298,029,795,NaN,Sutter,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489608233656
198899,M864287,8,otc alterations permit,12/07/2017,0160,006,838,NaN,Pacific,Av,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489796283803

In [17]:
df[df['Street Number Suffix'].isna()][['Street Number Suffix', 'Block', 'Lot', 'Street Number', 'Street Name', 'Street Suffix', 'Zipcode']][:5]

,Street Number Suffix,Block,Lot,Street Number,Street Name,Street Suffix,Zipcode
0,NaN,0326,023,140,Ellis,St,94102.0
1,NaN,0306,007,440,Geary,St,94102.0
2,NaN,0595,203,1647,Pacific,Av,94109.0
3,NaN,0156,011,1230,Pacific,Av,94109.0
4,NaN,0342,001,950,Market,St,94102.0

In [18]:
df[df['Zipcode'].isna()][['Street Number Suffix', 'Block', 'Lot', 'Street Number', 'Street Name', 'Street Suffix', 'Zipcode']][:5]

,Street Number Suffix,Block,Lot,Street Number,Street Name,Street Suffix,Zipcode
452,NaN,0552,017,2550,Gough,St,NaN
464,NaN,5286A,021,2241,Jerrold,Av,NaN
577,NaN,0779,028,1235,Mcallister,St,NaN
731,NaN,6515,017,1387,Valencia,St,NaN
864,NaN,3706,095,55,04th,St,NaN

In [12]:
df.columns

Index(['Permit Number', 'Permit Type', 'Permit Type Definition',
       'Permit Creation Date', 'Block', 'Lot', 'Street Number',
       'Street Number Suffix', 'Street Name', 'Street Suffix', 'Unit',
       'Unit Suffix', 'Description', 'Current Status', 'Current Status Date',
       'Filed Date', 'Issued Date', 'Completed Date',
       'First Construction Document Date', 'Structural Notification',
       'Number of Existing Stories', 'Number of Proposed Stories',
       'Voluntary Soft-Story Retrofit', 'Fire Only Permit',
       'Permit Expiration Date', 'Estimated Cost', 'Revised Cost',
       'Existing Use', 'Existing Units', 'Proposed Use', 'Proposed Units',
       'Plansets', 'TIDF Compliance', 'Existing Construction Type',
       'Existing Construction Type Description', 'Proposed Construction Type',
       'Proposed Construction Type Description', 'Site Permit',
       'Supervisor District', 'Neighborhoods - Analysis Boundaries', 'Zipcode',
       'Location', 'Record ID'],
      dtype='object')

## Zipcode missing values because they were not recorded

## Street number suffix missing values because they don't exist