# Exercise 7: Clustering the fish data

Now use your standardization and clustering pipeline from the previous exercise to cluster the fish by their measurements, and then create a cross-tabulation to compare the cluster labels with the fish species.

**Step 1:** Load the dataset, extracting the species of the fish as a list `species` _(done for you)_

In [15]:
import pandas as pd
import numpy as np 

df = pd.read_csv('../datasets/fish.csv')

# remove the species from the DataFrame so only the measurements are left
species = list(df['species'])
del df['species']

**Step 2:** Build the pipeline as in the previous exercise _(filled in for you)._

In [3]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [9]:
pipe = make_pipeline(StandardScaler(), KMeans(n_clusters=4))

In [10]:
samples = df.values

**Step 3:** Fit the pipeline to the fish measurements `samples`.

In [11]:

pipe.fit(samples)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('kmeans', KMeans(n_clusters=4))])

**Step 4:** Obtain the cluster labels for `samples` by using the `.predict()` method of `pipeline`, assigning the result to `labels`.

In [13]:
labels = pipe.predict(samples)

**Step 5:** Using `pd.DataFrame()`, create a DataFrame `df` with two columns named `'labels'` and `'species'`, using `labels` and `species`, respectively, for the column values.

In [16]:
df = pd.DataFrame(np.column_stack((labels, species)), columns=['labels', 'species'])

**Step 6:** Using `pd.crosstab()`, create a cross-tabulation `ct` of `df['labels']` and `df['species']`.

In [17]:
ct = pd.crosstab(df['species'], df['labels'])

**Step 7:** Display your cross-tabulation, and check out how good your clustering is!

In [18]:
ct

labels    0   1   2   3
species
Bream    33   0   0   1
Pike      0   0  17   0
Roach     1   0   0  19
Smelt     0  13   0   1