In [8]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns                                                                                                                                                                            
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from glob import glob

In [84]:
import re

In [143]:
def create_bow_df(series, vectorizer):
    matrix = vectorizer.fit_transform(series)
    return pd.DataFrame(matrix.toarray(), columns=vectorizer.get_feature_names())

In [10]:
path = r'C:\Users\Amash\Projects\Strive\Exercises\Module_4_Feature_Engineering\Week_2\D1_06. Geoposition_Enc\data'

In [11]:
files = glob(path + '\*.csv')

In [12]:
dfs = []
for file in files:
    df_name = file[105:-4]
    dfs.append(df_name)
    vars()[file[105:-4]] = pd.read_csv(file)

In [14]:
items_translated.head()

   item_id                               item_name_translated
0        0             !! IN THE POWER OF HAPPINESS (PLAST) D
1        1  ! ABBYY FineReader 12 Professional Edition Ful...
2        2              *** IN THE GLORY OF THE GLORY (UNV) D
3        3                             *** BLUE WAVE (Univ) D
4        4                                  *** BOX (GLASS) D

In [152]:
item_categories_translated.head()

   item_category_id item_category_name_translated
0                 0    PC - Headsets / Headphones
1                 1             Accessories - PS2
2                 2             Accessories - PS3
3                 3             Accessories - PS4
4                 4             Accessories - PSP

In [83]:
main_category = item_categories_translated['item_category_name_translated'].apply(lambda x: x.split('-')[0])

In [159]:
set(main_category)

{'Accessories ',
 'Android games ',
 'Books ',
 'Cinema ',
 'Clean carriers (spire)',
 'Clean media (piece)',
 'Delivery of goods',
 'Elements of a food',
 'Game Consoles ',
 'Games ',
 'Gifts ',
 'MAC Games ',
 'Music ',
 'Office',
 'Official ',
 'PC ',
 'PC Games ',
 'Payment Cards ',
 'Payment cards ',
 'Payment cards (Movies, Music, Games)',
 'Programs ',
 'Tickets (figure)',
 'Книги '}

In [101]:
sub_categories =  item_categories_translated['item_category_name_translated'].apply(lambda x: ((re.split('\(|\)|-', x)[1].strip())) if (len(re.split('\(|\)|-', x)) > 1) else None)

In [160]:
set(sub_categories)

{'1C: Enterprise 8',
 'Accessories for games',
 'Additional Edition',
 'Artbook, encyclopedia',
 'Attributes',
 'Audiobooks',
 'Audiobooks 1C',
 'Bags, Albums, Mouse pads',
 'Blu',
 'Board Games',
 'Board games',
 'Business Literature',
 'CD of branded production',
 'CD of local production',
 'Certificates, services',
 'Cognitive Literature',
 "Collector's",
 "Collector's Edition",
 'Comics, manga',
 'Computer Literature',
 'DVD',
 'Development',
 'Digit',
 'Fiction',
 'Figures',
 'Gadgets, robots, sports',
 'Gift edition',
 'Headsets / Headphones',
 'Home and Office',
 'Live!',
 'MAC',
 'MP3',
 'Methodical materials 1С',
 'Movies, Music, Games',
 'Musical video',
 None,
 'Number',
 'Other',
 'PS2',
 'PS3',
 'PS4',
 'PSN',
 'PSP',
 'PSVita',
 'Postcards',
 'Postcards, stickers',
 'Soft toys',
 'Souvenirs',
 'Standard Edition',
 'Teaching',
 'Tickets',
 'Vinyl',
 'Windows',
 'XBOX 360',
 'XBOX ONE',
 'figure',
 'piece',
 'spire',
 'Путеводители'}

In [146]:
item_names = items_translated['item_name_translated']

In [147]:
bow = CountVectorizer()
bow1 = CountVectorizer(stop_words='english', min_df=0.01, max_df=0.5)

In [161]:
create_bow_df(item_names, bow)

,00,000,00002,00003,00005,00006,00007,00008,00009h,00010,...,энд,энигма,эпик,эргагон,эстрада,эсхато,яблоко,янка,ёлка,ёрш
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22166,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22167,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [138]:
bow_ngram = CountVectorizer(ngram_range=(1, 2), min_df=0.01, max_df=0.5)
create_bow_df(item_names, bow_ngram)

,1c,1c audiobooks,2cd,360,360 russian,3d,3d bd,and,art,assassin,...,toy,version,war,with,world,xbox,xbox 360,year,фигурка,фирм
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
22166,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
22167,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [148]:
tfidf = TfidfVectorizer()

In [149]:
create_bow_df(item_names, tfidf)

,00,000,00002,00003,00005,00006,00007,00008,00009h,00010,...,энд,энигма,эпик,эргагон,эстрада,эсхато,яблоко,янка,ёлка,ёрш
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22169,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [156]:
tfidf_ngram = TfidfVectorizer(ngram_range=(1, 2), min_df=0.05, max_df=0.5, use_idf=True)
create_bow_df(item_names, tfidf_ngram)

,and,bd,digital,digital version,jewel,of,pc,pc digital,region,russian,the,version
0,0.0,0.0,0.000000,0.000000,0.0,0.712592,0.000000,0.0000,0.0,0.0,0.701579,0.000000
1,0.0,0.0,0.465480,0.468781,0.0,0.000000,0.419179,0.4846,0.0,0.0,0.000000,0.391183
2,0.0,0.0,0.000000,0.000000,0.0,0.452803,0.000000,0.0000,0.0,0.0,0.891610,0.000000
3,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.000000
4,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0.0,0.0,0.465480,0.468781,0.0,0.000000,0.419179,0.4846,0.0,0.0,0.000000,0.391183
22166,0.0,0.0,0.606285,0.610585,0.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.509514
22167,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.0,1.000000,0.000000
22168,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.000000
22169,0.0,0.0,0.000000,0.000000,0.0,0.897183,0.000000,0.0000,0.0,0.0,0.441658,0.000000

In [157]:
tfidf_ngram = TfidfVectorizer(ngram_range=(1, 2), min_df=0.05, max_df=0.5, use_idf=False)
create_bow_df(item_names, tfidf_ngram)

,and,bd,digital,digital version,jewel,of,pc,pc digital,region,russian,the,version
0,0.0,0.0,0.000000,0.000000,0.0,0.707107,0.000000,0.000000,0.0,0.0,0.707107,0.000000
1,0.0,0.0,0.447214,0.447214,0.0,0.000000,0.447214,0.447214,0.0,0.0,0.000000,0.447214
2,0.0,0.0,0.000000,0.000000,0.0,0.447214,0.000000,0.000000,0.0,0.0,0.894427,0.000000
3,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
4,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0.0,0.0,0.447214,0.447214,0.0,0.000000,0.447214,0.447214,0.0,0.0,0.000000,0.447214
22166,0.0,0.0,0.577350,0.577350,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.577350
22167,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000
22168,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
22169,0.0,0.0,0.000000,0.000000,0.0,0.894427,0.000000,0.000000,0.0,0.0,0.447214,0.000000